
.footer {
  background-color: #615c5a;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 0;
  width: 98%;
}

.footer-icons a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.5em;
  transition: color 0.3s ease;
  padding-top: 10px;
}

.footer-icons a:hover {
  color:#020202; 
}

.footer-links {
  padding-top: 15px;
  margin-top: 15px;
}

.footer-links a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #bea7a7;
}



